[Unit]
Description=dali2mqtt
After=network.target

[Service]
ExecStart=/home/homeassistant/dali2mqtt/venv/bin/python3 dali-mqtt-daemon.py
WorkingDirectory=/home/homeassistant/dali2mqtt
StandardOutput=inherit
StandardError=inherit
Environment=PYTHONUNBUFFERED=true
Restart=always
User=homeassistant

[Install]
WantedBy=multi-user.target
