[Unit]
Description=dali2mqtt
After=network.target

[Service]
ExecStart=python3 dali-mqtt-daemon.py
WorkingDirectory=/dali2mqtt
StandardOutput=inherit
StandardError=inherit
Environment=PYTHONUNBUFFERED=true
Restart=always
User=root

[Install]
WantedBy=multi-user.target
