[Unit]
Description=dali2mqtt
After=network.target

[Service]
ExecStart=/opt/dali2mqtt/venv/bin/python3 dali-mqtt-daemon.py
WorkingDirectory=/opt/dali2mqtt
StandardOutput=inherit
StandardError=inherit
Environment=PYTHONUNBUFFERED=true
Restart=always
User=root

[Install]
WantedBy=multi-user.target
